body {
   margin: 0;
   background: #222;
   color: white;
    font-family:'Allerta Stencil', sans-serif;
    font-weight: 300;
    background-image: url('https://cdn.wallpapersafari.com/30/67/3gP7zd.png');
    background-size: cover;
}

.container {
    width: 80%;
    margin: 0 auto;

}

h1 {
    background: black;
    border-color: pink;
    text: white;
    border-style: solid;
    border-width: 10px;
    height: 100px;
    }

    h2{
        color: purple;
        text-align: center;
        font-size: 100px;
        text-shadow: orange;
    }

    h2:hover{
        color: orange;
        transition: all ease-in-out 25ms;

    }
   
    p{
        font-size: 50px;
        color: blue;
        text-align: center;
    }

h1::after {
    content: '';
    display: table;
    clear: both;
}

#image_container img {
    width: 200px;
    height: 300px;
    float: left;
    padding: 10px 0;
}

nav {
    float: left;
}

nav p {
    font-size: 35px;
    color: palevioletred;
    line-height: 55px;
    float: left;
    padding: 0px 20px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    float: left;
    list-style: none;
}

nav ul li a{
    display: block;
    font-size: 25px;
    color: pink;
    padding: 24px 14px;

}

nav li {
    display: inline-block;
    margin-left: 5px;
    padding-top: 25px;


    position: relative;
}

nav a {
    color: white; 
    text-decoration: none;
    font-size: 25px;
}

nav a:hover {
    color: palevioletred;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: palevioletred;

    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 25ms;
}

nav a:hover::before {
    width: 100%;

}

